@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');
@import "tailwindcss";

@theme{
  --font-display: 'Stack Sans Text', sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #875cf5;
}

@layer base {
  html {
    font-family: var(--font-display);
    transition: all;
    transition-duration: 400;
  }

  body {
    background-color: #f9f9f9;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}

.btn-primary{
  @apply w-full text-sm font-medium text-white bg-violet-500 shadow-lg shadow-purple-600/5 p-2.5 rounded-md my-1 hover:bg-purple-600/15 hover:text-purple-600 transition-colors duration-400 cursor-pointer;
}